$main-color-light: #fbfbfb;
$main-color-dark: black;
$text-color-light: #fbfbfb;
$text-color-dark: black;

$transparent-background-color: #f2f2f2d0;
$special-button-color-light: #4e47b5;
$special-button-color-dark: #2d277a;
$correct-color: #2e7526;
$error-color: #941818;
$create-color: #2e7526;
$delete-color: #941818;
$edit-color: #324aa8;
