@import "~bootstrap/scss/bootstrap";
@import "./_colors";

html,
body {
  margin: 0 !important;
  font-family: "Lato", sans-serif;
  font-family: "Noto Sans Display", sans-serif;
  height: 100%;
  width: 100%;
  padding: 0px;
  overflow-x: hidden;
  background: url("../images/background.png") center center/cover no-repeat;
}

.content-container {
  height: 100%;
  min-height: 900px;
  padding-bottom: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.01);
  object-fit: contain;
  align-items: center;

  .big-photo {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    width: 120%;
    height: 90%;
    z-index: 2;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    column-gap: 0.1em;

    img {
      width: 70vw;
      display: block;
    }
    :hover {
      cursor: pointer;
    }

    .switch-arrow {
      font-size: 52px;
      color: $main-color-light;
    }
    :hover {
      cursor: pointer;
      color: $text-color-light;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    background-color: $main-color-light;
    align-items: flex-start;
    margin-top: 50px;
    min-height: 500px;
    width: 60rem;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.15);

    .aboutme-section {
      padding: 7%;
      display: flex;
      flex-wrap: wrap;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 4em;

      img {
        height: 300px;
        border: 1px solid rgba(0, 0, 0, 0.15);
        grid-row-start: 1;
        grid-row-end: 2;
      }

      &__description {
        width: 30em;
      }

      &__details {
        margin-top: 2em;

        .dt--chosen,
        .dt--available {
          margin-bottom: 5%;
          color: $text-color-light;
          cursor: pointer;
          font-size: 18px;
        }
        :hover {
          color: $text-color-dark;
        }

        .dt--chosen {
          color: $text-color-dark;
        }
      }
    }

    .address-section {
      padding: 10%;
      font-size: 24px;
    }

    .content__project-section {
      display: grid;
      // width: 100%;
      padding: 7%;

      .project-section__gallery {
        margin-top: 2rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        column-gap: 1em;

        .gallery-arrow {
          font-size: 32px;
          color: $text-color-light;
        }
        :hover {
          cursor: pointer;
          color: $text-color-dark;
        }

        img {
          width: 40vw;
          border: 1px solid rgba(0, 0, 0, 0.15);
        }

        @media (max-width: 700px) {
          column-gap: 0.5em;
          .gallery-arrow {
            font-size: 16px;
          }
          img {
            width: 60vw;
          }
        }
      }
      .project-section__links {
        margin-top: 32px;
      }
    }

    .content__tech-name {
      // width: 60em;
      width: 200px;
      margin: 0 auto;
      text-align: center;
      margin-top: 2%;
    }

    .content__pagination-container {
      display: "center";

      .pagination-icon {
        font-size: 24px;
        margin-left: 10px;
        margin-right: 10px;
        color: $text-color-light;
      }
      :hover {
        color: $text-color-dark;
        cursor: pointer;
      }
    }

    @media (max-width: 700px) {
      // width: 400px;
      width: 20em;
      margin-top: 2em;
      .aboutme-section {
        display: inline;
      }
      .aboutme-section__description {
        margin-top: 1em;
        width: 17em;
      }
      .project-section__description {
        width: 17em;
      }

      .address-section {
        font-size: 20px;
        margin-left: 0.7em;
        margin-top: 0.7em;
      }
    }
  }
}
