@import "~bootstrap/scss/bootstrap";
@import "./_colors";

html,
body {
  margin: 0 !important;
  font-family: "Lato", sans-serif;
  font-family: "Noto Sans Display", sans-serif;

  height: 100%;
  width: 100%;
  padding: 0px;
  overflow-x: hidden;
  background: url("../images/background.png") center center/cover no-repeat;
}

.content-container {
  height: 100%;
  min-height: 900px;
  padding-bottom: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.01);
  object-fit: contain;
  align-items: center;

  &__content {
    display: flex;
    flex-direction: column;
    background-color: $main-color-light;
    align-items: flex-start;
    margin-top: 50px;
    min-height: 500px;
    width: 60rem;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.15);

    .aboutme-section {
      padding: 7%;
      display: flex;
      flex-wrap: wrap;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 4em;

      img {
        height: 300px;
        border: 1px solid rgba(0, 0, 0, 0.15);
        grid-row-start: 1;
        grid-row-end: 2;
      }

      &__description {
        width: 30em;
      }

      &__details {
        margin-top: 10%;

        .dt--chosen,
        .dt--available {
          margin-bottom: 5%;
          color: $text-color-light;
          cursor: pointer;
        }
        :hover {
          color: $text-color-dark;
        }

        .dt--chosen {
          color: $text-color-dark;
        }
      }
    }

    .address-section {
      padding: 10%;
      font-size: 24px;
    }

    @media (max-width: 700px) {
      // width: 400px;
      width: 20em;
      margin-top: 2em;
      .aboutme-section {
        display: inline;
      }
      .aboutme-section__description {
        margin-top: 1em;
        width: 17em;
      }
      .address-section {
        font-size: 20px;
        margin-left: 0.7em;
        margin-top: 0.7em;
      }
    }
  }
}
