@import "../../styles/_colors";

.header {
  display: flex;
  background: $main-color-light;
  justify-content: space-between;
  align-items: center;

  height: 60px;
  position: sticky;
  top: 0;
  z-index: 999;
  color: $main-color-dark;
  margin: 5px 10px 0px 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.logo-nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 100px;
}

.textlogo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 100px;
  margin-left: 100px;
  font-size: 35px;
  white-space: nowrap;

  a {
    text-decoration: none;
    color: #000000;
  }
}

.nav-options {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 50px;
  list-style-type: none;
  margin: 0 0 0 0;
  white-space: nowrap;
  margin-right: 40%;
}

.mobile-option {
  display: none;
}

.option--chosen,
.option {
  font-size: 18px;
  a {
    color: $text-color-light;
  }
  :hover {
    color: $text-color-dark;
  }
}

.option--chosen a {
  color: $text-color-dark;
}

.option :hover {
  // color: $main-color-dark;
  // border-bottom: solid 5px $main-color-dark;
  // border-radius: 5px;
  // padding-bottom: 10px;
}

.mobile-menu {
  display: none;
}

@media (max-width: 700px) {
  /*Mobile View */
  .header {
    padding: 0px 10px 0px 0px;
  }
  .logo {
    width: 45px;
    height: 45px;
  }
  .nav-options {
    display: flex;
    width: 100%;
    height: 450px;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
    flex-direction: column;
    list-style-type: none;
    grid-gap: 0px;
  }
  .nav-options.active {
    background: $main-color-light;
    left: 0;
    opacity: 0.9;
    transition: all 0.5s ease;
    z-index: 1;
    align-content: center;
    padding-left: 0px;
  }

  .menu-icon {
    font-size: 34px;
    margin-right: 0.5em;
  }

  .menu-icon :hover {
    cursor: pointer;
  }

  .option--chosen,
  .option {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vw;
    padding: 30px 0px;
  }

  .option :hover {
    color: $main-color-dark;
  }

  .user-section {
    margin-right: 0px;
  }

  .logo-container {
    margin-right: 0px;
  }
  .logo-nav {
    margin-left: 0px;
    width: 250px;
    img {
      width: 250px;
    }
  }

  .login-btns {
    p {
      margin: 0px 0px 0px 0px;
    }
    margin-left: 20px;
  }
  .mobile-menu {
    display: block;
  }
}

.dropdown {
  display: inline-block;
}

.dropdown__content {
  display: none;
  position: absolute;
  background-color: $main-color-light;
  margin-top: 15px;
  /* margin-right: 20%; */
  text-align: left;
  padding-right: 23px;

  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  width: 150px;
}

.dropdown__content > ul {
  list-style-type: none;
  padding-left: 10%;
}

.dropdown__content > ul > li > p,
a,
.opt {
  color: $text-color-dark;
  text-decoration: none;
  cursor: pointer;
}

.dropdown__content > ul > li :hover {
  color: $main-color-dark;
}

.dropdown--active .dropdown__content {
  display: block;
}
